/* General Styles */
.cart {
  width: 100%;
  padding: 20px 5%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Cart Title */
.cart h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Empty Cart Message */
.cart .empty_cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cart .empty_cart h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  letter-spacing: 1px;
}

.cart .empty_cart button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #706068;
  color: #fff;
  border: none;
  outline: none;
  border: 1px solid #cd176c;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* Cart Container */
.cart .container {
  max-width: 100%;
  padding: 10px 5%;
  display: flex;
  flex-wrap: wrap;
}

/* Cart Box */
.cart .container .box {
  display: flex;
  width: 100%;
  border: 2px solid #f6f6f6;
  height: 250px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.cart .container .box .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cart Item Detail */
.cart .container .box .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
}

/* Cart Item Information */
.cart .container .box .detail .info {
  margin-top: 10px;
  margin-left: 5px;
}

/* Cart Item Quantity */
.cart .container .box .detail .quantity {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.cart .container .box .detail .quantity button {
  margin-right: 10px;
  background: #504e4f;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cart .container .box .detail .quantity input {
  height: 40px;
  width: 60px;
  margin-right: 10px;
  border: 1px solid #53454c;
  border-radius: 5px;
  text-align: center;
}

/* Cart Item Icons */
.cart .container .box .detail .icon {
  margin-top: 10px;
  margin-left: 0;
}

.cart .container .box .detail .icon li {
  list-style: none;
  background: #cd1e76;
  padding: 10px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* Cart Bottom Section */
.cart .bottom {
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cart Total */
.cart .bottom .Total h4 {
  font-size: 1.5rem;
  color: #cd176c;
  text-transform: uppercase;
  font-weight: 600;
}

/* Cart Checkout Button */
.cart .bottom button {
  width: 45%;
  padding: 15px;
  border: none;
  outline: none;
  background: #cd176c;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .cart .bottom button {
    width: 100%;
  }
}
