* {
  margin: 0;
  padding: 0;
}

.main-container-login {
  width: 100vw;
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1586191582151-f73872dfd183?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNzA4Mjc2fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #ccc;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

h3 {
  text-align: center;
  color: dark black; 
  padding-top: 1px;
}
h3 hr {
  border-bottom: 1px solid #ccc; /* Light gray border */
}

label {
  width: 100%;
  color: #ffcc00; /* Yellow color */
  text-align: center;
}
label:h3{
  color: dark rgb(202, 102, 102);
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.newuser-link {
  color: #ff0000; /* Red color */
}

